.overseer{
    display: flex;
    flex-direction: row;

    height: 100%;
}

.center-bar{
    width: 625px;

    display: flex;
    flex-direction: column;

    border-right-width: 1px;
	border-right-color: #3d3d3d;
	border-right-style: solid;

    border-left-width: 1px;
	border-left-color: #3d3d3d;
	border-left-style: solid;
}

.center-header-bar{
    height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    cursor: pointer;

	z-index: 30;

    border-bottom-width: 1px;
	border-bottom-color: #3d3d3d;
	border-bottom-style: solid;

    background-color: black;
    opacity: 0.95;

    position: fixed;
    top: 0px;
    width: 625px;
}

.header-title{
    font-size: 20px;
    font-weight: 700;

    color: white;

    margin-top: 14px;
    margin-left: 14px;
}

.home-sections{
    display: flex;
    flex-direction: row;

    width: 100%;
}

.for-you-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    padding: 14px 0px 0px 0px;

    flex: 1;
}

.some-container:hover{
    background-color: #1a1a1a;
}

.for-you{
    font-size: 15px;
    font-weight: 700;

    color: white;
}

.underline{
    height: 4px;
    width: 55px;

    background-color: #1d9bf0;

    border-radius: 2px;

    margin-top: 12px;
}

.following{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 15px;
    font-weight: 700;

    color: #71767B;

    padding: 14px 0px 14px 0px;

    flex: 1;
}

.for-you-container:hover,
.following:hover{
    background-color: #1C1C1C;
}

.website-body{
    display: flex;
    flex-direction: column;
    justify-content: start;

    height: 100%;
    padding-top: 111px;
}

.tweet-section,
.show-more-tweets,
.tweet-tab-container{
    padding: 10px 0px 10px 0px;

    width: 100%;

    border-bottom-width: 1px;
	border-bottom-color: #3d3d3d;
	border-bottom-style: solid;
}

.replied-tweet-container{
    padding: 10px 0px 10px 0px;

    width: 100%;
}

.reply-tweet-tab-container{
    display: flex;
    flex-direction: column;
}

.tweet-section{
    display: flex;
    flex-direction: column;
}

.user-section{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
}

.tweet{
    margin-left: 14px;
    margin-right: 14px;
    padding: 6px 20px 6px 4px;

    flex: 1;

    border-style: none;
    background-color: black;
}

.tweet::placeholder{
    font-size: 20px;
    font-family: Roboto, Arial;

    color: #71767B;
}

.tweet:focus{
    outline: none;
    color: white;

    font-size: 20px;
    font-family: Roboto, Arial;
}

.tweet-profile-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 16px;
    height: 100%;
}

.tweet-profile-image{
    height: 48px;
    width: 48px;

    object-fit: cover;
    border-radius: 24px;
}

.line-div{
    flex: 1;
    width: 2px;
    background-color: #333639;
}

.buttons-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    padding-top: 20px;
}

.tweet-icons-container,
.tweet-button-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    flex: 1;
}

.tweet-icons-container{
    margin-right: 70px;
}

.tweet-button-container{
    margin-right: 20px;
}

.tweet-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 70%;
}

.icon{
    height: 20px;
    width: 20px;

    cursor: pointer;
}

.tweet-section-button{
    padding: 8px 18px 8px 18px;

	background-color: #1d9bf0;
	color: white;

	border-style: none;
	border-radius: 30px;

	font-size: 15px;
	font-weight: 700;

	cursor: pointer;
	transition: opacity 0.15s;
}

.show-more-tweets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 14px 0px;

    font-size: 15px;

    color: #1D9BF0;

    cursor: pointer;
    transition: background-color 0.15s;
}

.show-more-tweets:hover{
    background-color: #151515;
}

.tweet-tab-container,
.replied-tweet-container{
    display: flex;
    flex-direction: row;
    align-items: start;

    cursor: pointer;
}

.tweet-tab-container:hover,
.replied-tweet-container:hover{
    background-color: #0a0a0a;
}

.tweet-tab,
.tweet-reply-tab{
    display: flex;
    flex-direction: column;
    align-items: start;

    flex: 1;
    margin-left: 14px;
    margin-right: 16px;
}

.tweet-content-section{
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
}

.user-information{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.first-user-section{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 5px;
    gap: 5px;
}

.user-tweet-name{
    font-weight: 500;
    font-size: 15px;

	color: white;
}

.user-tweet-handle{
    color: #707070;

    font-size: 15px;
}

.tweet-text{
    font-size: 15px;
    line-height: 19px;
	color: #E7E9EA;

    margin-bottom: 8px;
}

.image-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
}

.tweet-image{
    max-height: 550px;
    width: 100%;
    border-radius: 14px;
}

.video-stats{
    position: absolute;
    left: 12px;
    bottom: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.video-stat{
    color: white;
    background-color: black;
    opacity: 0.89;

    font-size: 13px;

    padding: 4px 4px;

    border-radius: 4px;
}

.tweet-icons-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 12px;
    width: 85%;
}

.icon-sector,
.ared-icon-sector{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    font-weight: 300;
    color: #707070;
}

.ared-icon-sector{
    color: #F91880;
}

.quoted-tweet{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 5px;

    margin-top: 4px;
    flex: 1;
    min-width: 100%;

    border-style: solid;
    border-color: #3D3D3D;
    border-radius: 14px;
    border-width: 1px;

    overflow: hidden;
}

.quoted-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 4px;

    margin-top: 8px;
}

.quoted-tweet-text{
    font-size: 15px;
    line-height: 19px;
	color: #E7E9EA;

    margin-bottom: 8px;
}

.quoted-user,
.quoted-tweet-text{
    margin-left: 8px;
    margin-right: 8px;
}

.quoted-user:hover,
.quoted-tweet-text:hover{
    background-color: #121212;
}

.quoted-profile-image{
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.quoted-image{
    max-height: 270px; 
    max-width: 100%;
}

.show-reply{
    display: flex;
    flex-direction: row;
    gap: 2px;

    font-size: 15px;
    color: #707070;
}

.replied-user{
    color: #1D9BF0;
}

.tweet-icon,
.ared-tweet-icon{
    height: 18px;
    width: 18px;
}

.tweet-icon{
    filter: invert(50%);
}